annotated-types==0.7.0
anyio==4.9.0
boto3==1.37.18
botocore==1.37.18
certifi==2025.1.31
charset-normalizer==3.4.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
langchain-aws==0.2.17
langchain-core==0.3.47
langchain
langchain_community
langchain_openai
streamlit==1.32.2
